// seletores: propriedades: valores

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: inter;
}

h2 {
    color: #0C0910;
}

img {
    width: 100%;
    width: 30vw;
}

.card {
    
    background-color: #9882AC;
    border: 10px solid #857da8;
}

#btn1{
    background-color: #453750;
    width: 100%;
}

header {
    background-color: #73648A;
}
